
{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">{{ title }}</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-6 mb-3">{{ form.first_name.label }} {{ form.first_name(class="form-control") }}</div>
    <div class="col-md-6 mb-3">{{ form.last_name.label }} {{ form.last_name(class="form-control") }}</div>
  </div>
  <div class="mb-3">{{ form.dob.label }} {{ form.dob(class="form-control") }}</div>
  <div class="mb-3">{{ form.ssn_last4.label }} {{ form.ssn_last4(class="form-control", placeholder="Last 4 digits") }}</div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
